.container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* inset: 0; */

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.6);
  z-index: 999;
}
.loader{
  color: transparent;

  background: linear-gradient(
    90deg,
    #6495ed,
    #ff6ec4
  );

  -webkit-background-clip: text;
  background-clip: text;
}